.main {
  display: flex;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.cartegory {
  padding : 10px 30px;
  border-right : 1px solid #000;
}

/* .list {
  display : grid;
  flex-direction : column;
} */