.list {
  padding : 30px;
}

.list ul {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.list ul li {
  list-style: none;
  margin-bottom: 25px;
}

.list ul li img {
  width: 200x;
  height: 200px;
}