.pl {
  display: flex;
  padding: 0px;
  margin: 0px 100px;
  width: auto;
}

.cartegory {
  padding : 10px 30px;
  border-right : 1px solid #000;
}

.list {
  padding : 30px 0px;
}

.list ul {
  width: auto;
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.list ul li {
  list-style: none;
  margin-bottom: 10px;
}

.list ul li img {
  width: 200x;
  height: 200px;
  border-radius: 10%;
}

.list ul li div:last-child {
  height : 150px;
  margin-top: 10px;
}