.cartcard {
  display : flex;
  padding: 30px;
  justify-content: center;
  border-bottom: 1px solid black;
}

.cartcard li {
  list-style: none;
  display : flex;
}

.cartInfo {
  padding-left: 30px;
  width : 300px;
}

.cartcard img {
  width : 200px;
  height : 200px;
  border-radius : 10%;
}

.qtyUi p:first-child {
  /* flex-direction : column; */
  display: flex;
  justify-content : space-between;
  padding-left: 50px;
  padding-right: 50px;
}