.cartcard {
  display : flex;
}

.cartcard li {
  list-style: none;
  display : flex;
}

.cartInfo {
  padding-left: 30px;
  width : auto;
}

.cartcard img {
  width : 200px;
  height : 200px;
  border-radius : 10%;
}

.qtyUi > p {
  /* flex-direction : column; */
  justify-content : space-between;
}